.form{
    width: 95%;
    max-width: 400px;
    margin: 5vh auto;
    display: grid;
    row-gap: 20px
}
.form label{ display: grid; row-gap: 5px; text-align: left; color: #fff;}
.form label small{ font-size:14px; font-weight:700 }
.form label input{ border-radius: 99px; background-color: #efefef; color: #262626; border: none; padding: 10px; font-size:16px; font-family: "Roboto"}
.form button{ border: none; cursor: pointer; border-radius:99px; font-family:'Roboto'; padding: 10px; background-color: #f5cc0d; color: #262626; font-weight: 700; font-size:16px; text-transform: uppercase; transition: all 0.3s}
.form button:hover{ box-shadow:inset 0px 0px 0px 100px rgba(0, 0, 0, 0.2)}